      <footer id="myFooter">
          <div id="footer-left">
            <a class="btn btn-success" ui-sref="announceCreation">Placer une annonce</a>
            <a class="btn btn-danger"href="#">Mon compte</a>
            <a href="#">Contact</a>
            <a href="#">Condition d'utilisation</a>
            <a href="#">Condition pour Annonceur</a>
            <a href="#">Tarifs</a>
          </div>
          <div id="footer-right" class="nav nav-pills nav-stacked pull-right">
            <a href="#">Back to top</a>
          </div>
      </footer>
