<div  id="myNav" >
  <ul class="nav nav-pills nav-stacked">
    <li class="bcolor1 active"> <a href="#">Home</a></li>
    <li class="bcolor2"> 
      <p> Offres </p>
      <ul class="nav nav-pills nav-stacked ">
        <li class="offre"><a ui-sref="offresLocation">Location</a></li>
        <li class="offre"><a ui-sref="offresVente">Vente</a></li>
        <li class="offre"><a ui-sref="offresVacances">Vacances</a></li>
        <li class="offre"><a ui-sref="offresEchange">Echange</a></li>
        <li class="offre"><a ui-sref="offresConstruction">Construction</a></li>
        <li class="offre"><a ui-sref="offresEntretien">Entretien</a></li>
        <li class="offre"><a ui-sref="offresDecoration">Décoration</a></li>
        <li class="offre"><a ui-sref="offresService">Service</a></li>
      </ul>
    </li>
    <li class="bcolor3"> 
      <p> Demandes </p>
      <ul class="nav nav-pills nav-stacked">
        <li class="demande"><a ui-sref="demandesLocation">Location</a></li>
        <li class="demande"><a ui-sref="demandesVente">Vente</a></li>
        <li class="demande"><a ui-sref="demandesVacance">Vacances</a></li>
        <li class="demande"><a ui-sref="demandesEchange">Echange</a></li>
        <li class="demande"><a ui-sref="demandesConstruction">Construction</a></li>
        <li class="demande"><a ui-sref="demandesEntretien">Entretien</a></li>
        <li class="demande"><a ui-sref="demandesDecoration">Décoration</a></li>
        <li class="demande"><a ui-sref="demandesService">Service</a></li>
      </ul>
    </li>
    <li class="bcolor4"> 
      <p> Conseils </p>
      <ul class="nav nav-pills nav-stacked">
        <li class="conseil"><a ui-sref="conseilsLocation">Location</a></li>
        <li class="conseil"><a ui-sref="conseilsVente">Vente</a></li>
      </ul>
    </li>
  </ul>
</div>
